<% provide(:title, "Sign In") %>

<div class="signin-page">
	<%= simple_form_for(:session, url: sessions_path) do |f| %>
		<h1>Sign In</h1>

		<div class="sexy-divider"></div>

		<%= f.input :email, placeholder: "Email", label: false, input_html: {class: 'default-input'}, autofocus: true %>
		<div style="clear:both;"></div>
		<%= f.input :password, placeholder: "Password", label: false, input_html: {class: 'default-input'} %>
		<div style="clear:both;"></div>
		<%= f.submit "Sign in", class: 'blue-button' %>
	<% end %>
</div>