<% content_for :dashboard_content do %>
	<% if @order_items.any? && @customers.any? && @orders.any? %>

		<!-- all calculations here -->
		<% total_revenue = @orders.sum(:total) %>
		<% total_donated = @orders.sum(:donated) + @orders.sum(:extra_donation) %>
		<% item_count = @order_items.sum(:quantity) %>
		<% average_price_per_item = total_revenue/item_count %>
		<% average_spending = total_revenue/@customers.count %>

		<table class="analytics-table">
			<tr>
				<td>
					<span class="title">
						Total Revenue
					</span>
					<div class="metric">
						<%= number_to_currency(total_revenue, precision: (total_revenue.round == total_revenue) ? 0 : 2)  %>
					</div>
				</td>
				<td>
					<span class="title">
						Total Donated
					</span>
					<div class="metric">
						<%= number_to_currency(total_donated, precision: (total_donated.round == total_donated) ? 0 : 2) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="title">
						Average Price / Item
					</span>
					<div class="metric">
						<%= number_to_currency(average_price_per_item, precision: (average_price_per_item.round == average_price_per_item) ? 0 : 2) %>
					</div>
				</td>
				<td>
					<span class="title">
						Average Spending / Customer
					</span>
					<div class="metric">
						<%= number_to_currency(average_spending, precision: (average_spending.round == average_spending) ? 0 : 2) %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="title">
						Total Customers
					</span>
					<div class="metric">
						<%= @customers.count %>
					</div>
				</td>
				<td>
					<span class="title">
						Total Items Bought
					</span>
					<div class="metric">
						<%= item_count %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="title">
						Total Orders
					</span>
					<div class="metric">
						<%= @orders.count %>
					</div>
				</td>
				<td>
					<span class="title">
						Total Vendors
					</span>
					<div class="metric">
						<%= @vendors.count %>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="title">
						Total Cash
					</span>
					<div class="metric">
						<% cash = @orders.where(cash:true).sum(:total) %>
						<%= number_to_currency(cash, precision: (cash.round == cash) ? 0 : 2) %>
					</div>
				</td>
				<td>
					<span class="title">
						Total Check
					</span>
					<div class="metric">
						<% check = @orders.where(cash:false).sum(:total) %>
						<%= number_to_currency(check, precision: (check.round == check) ? 0 : 2) %>
					</div>
				</td>
			</tr>
		</table>
	<% else %>
		<div id="no-data">
			Get off your butt and make some orders! 
			<br>
			No data to analyze yet.
		</div>
	<% end %>
<% end %>