<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= f.password_field :password_confirmation %>

	<%= f.submit "Save changes" %>
<% end %>