<% provide(:title, 'Sign up') %>

<div id="home-bg">
	<div id="sign-in-form">
		<%= form_for(@user) do |f| %>
			<%= f.text_field :email, placeholder: "Email", id: "email-signin" %>
			<div style="clear:both;"></div>
			<%= f.password_field :password, placeholder: "Password", class: "input-large", id: "password-signin" %>
			<div style="clear:both;"></div>
			<%= f.password_field :password_confirmation, placeholder: "Password Confirmation", id: "password-signin", style: "border-top: 0px;" %>
			<div style="clear:both;"></div>
			<%= f.submit "Create my account", id: "signin-button", class: "signup-button" %>
		<% end %>
	</div>
</div>