<div class="sexy-divider"></div>

<div class="analytics-wrap">
	<div class="analytics-statements">
		<div class="revenue-statement">
			<u><%= pluralize(@customer_count, 'customer') %></u> spent <u><%= number_to_currency(@average_spending, precision: (@average_spending.round == @average_spending) ? 0 : 2) %></u> on average to net <u><%= number_to_currency(@total_revenue, precision: (@total_revenue.round == @total_revenue) ? 0 : 2) %></u>.
		</div>

		<div class="payment-type-statement">
			Customers paid <u><%= number_to_currency(@cash_total, precision: (@cash_total.round == @cash_total) ? 0 : 2) %></u> in cash, <u><%= number_to_currency(@check_total, precision: (@check_total.round == @check_total) ? 0 : 2) %></u> by check, and <u><%= number_to_currency(@card_total, precision: (@card_total.round == @card_total) ? 0 : 2) %></u> by card.
		</div>
	</div>

	<table class='vendor-revenue-table'>
	<% @vendors.each do |vendor| %>
		<tr class="<%= selected_row(vendor) %>">
			<td><%= vendor.name %></td>
			<td>
				<%= number_to_currency(vendor.total_sold, precision: (vendor.total_sold.round == vendor.total_sold) ? 0 : 2) %>
			</td>
		</tr>
	<% end %>
	</table>
</div>