<div class='show-event-dash'>
	<%= link_to event_path(@event), remote: true, class: "#{selected_event_link(event_path(@event))}" do %>
		<i class='fa fa-users'></i>
		<span>Customers</span>
	<% end %>
	<%= link_to event_orders_path(@event), remote: true, class: "event-orders-link #{selected_event_link(event_orders_path(@event))}" do %>
		<i class='fa fa-credit-card'></i>
		<span>Orders</span>
	<% end %>
	<%= link_to event_vendors_path(@event), remote: true, class: "event-vendors-link #{selected_event_link(event_vendors_path(@event))}" do %>
		<i class='fa fa-university'></i>
		<span>Vendors</span>
	<% end %>
	<%= link_to event_analytics_path(@event), remote: true, class: "event-analytics-link #{selected_event_link(event_analytics_path(@event))}" do %>
		<i class='fa fa-bar-chart-o'></i>
		<span>Analytics</span>
	<% end %>

	<div style='clear:both;'></div>
</div>