<!-- search customers by name -->

<%= form_tag event_vendors_path(@event), class: 'search-vendors-form', method: :get, remote: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search by vendor name", id: "vendor-search-field", class: 'default-input', autofocus: true %>
<% end %>

<div id="vendor-list">
	<%= render @vendors %>
</div>

<!-- form to create new vendor -->
<div class='modal-overlay' id='vendor-overlay'>
	<%= simple_form_for Vendor.new, remote: true do |f| %>
		<i class='fa fa-times exit-vendor-form'></i>

		<h1>Create New Vendor</h1>

		<div class="sexy-divider"></div>

		<%= f.hidden_field :event_id, value: @event.id %>

		<%= f.input :tax, label: "Charge tax" %>

		<div style='clear:both;'></div>

		<%= f.input :name, placeholder: 'Vendor Name', label: false, input_html: {class: 'default-input'} %>
		<%= f.input :email, placeholder: 'Vendor Email', label: false, input_html: {class: 'default-input'} %>

		<%= f.submit "Create Vendor", class: 'blue-button' %>
	<% end %>
</div>