<div id='event-overlay' class='modal-overlay'>
	<%= simple_form_for Event.new do |f| %>
		<i class='fa fa-times exit-event-form'></i>

		<h1>Create An Event</h1>

		<div class='sexy-divider'></div>

		<%= f.input :name, input_html: {class: 'default-input'}, label: false, placeholder: "Event name" %>

		<%= f.submit "Create Event", class: 'blue-button' %>
	<% end %>
</div>