//load event orders

$(".show-event-container").html("<%= j render 'events/event_analytics' %>");

if($('.show-event-dash .selected')[0]){
	$('.show-event-dash .selected').removeClass("selected");
}

$('.event-analytics-link').addClass('selected');

//change url
window.history.pushState('', '', "/events/<%= @event.id %>/analytics");