//load event orders

if($('.search-vendors-form')[0]){
	$('#vendor-list').html("<%= j render @vendors %>");
}else{
	$(".show-event-container").html("<%= j render 'events/event_vendors' %>");
}

if($('.show-event-dash .selected')[0]){
	$('.show-event-dash .selected').removeClass("selected");
}

$('.event-vendors-link').addClass('selected');

//change url
window.history.pushState('', '', "/events/<%= @event.id %>/vendors");

$('title').html("ATW | <%= pluralize(@vendors.count, 'vendor') %>");