<% content_for :dashboard_content do %>
	<div class="show-event">
		<%= render 'events/event_dash' %>

		<div class="show-event-container">
			<%= render 'events/event_analytics' %>		
		</div>
	</div>
<% end %>