<% content_for :dashboard_content do %>
	<% provide(:title, pluralize(@vendors.count, 'vendor')) %>
	<div class="show-event">
		<%= render 'events/event_dash' %>
		
		<div class="show-event-container">
			<%= render 'events/event_vendors' %>
		</div>
	</div>
<% end %>