<% content_for :dashboard_content do %>
	<% provide(:title, pluralize(@orders.count, 'order')) %>

	<div class="show-event">
		<%= render 'events/event_dash' %>
		
		<div class="show-event-container">
			<%= render 'events/event_orders' %>
		</div>
	</div>
<% end %>