//load event orders

$(".show-event-container").html("<%= j render 'events/event_orders' %>");

if($('.show-event-dash .selected')[0]){
	$('.show-event-dash .selected').removeClass("selected");
}

$('.event-orders-link').addClass('selected');

//change url
window.history.pushState('', '', "/events/<%= @event.id %>/orders");

$('title').html("ATW | <%= pluralize(@orders.count, 'order') %>");