<% if @search %>
	$("#customer-list").html("<%= j render @customers %>");
<% else %>
	//highlight selected event
	if($('.selected')[0]){
		$('.selected').removeClass('selected');
	}
	$("#event-<%= @event.id %>").addClass('selected');

	//show event details
	$('#main-container').html("<%= j render 'events/show' %>");

	//change url and title
	window.history.pushState('', '', "/events/<%= @event.id %>");
	$("title").html("ATW | <%= @event.name.html_safe %>");

	$('#customer-search-field').focus();
<% end %>