<div class='sexy-divider sexy-divider-<%= customer.id %>'>
	<%= link_to raw("<i class='fa fa-cog'></i>"), edit_customer_path(customer), remote: true, class: 'edit-customer-link' %> 
</div>

<% if @event %>
	<%= link_to place_order_customer_path(customer, event_id: @event.id), remote: true, class: "customer customer-#{customer.id}" do %>
		<i class='fa fa-user'></i>
		<span><%= customer.name %></span>
	<% end %>
<% else %>
	<%= link_to place_order_customer_path(customer, event_id: request.original_url.split('/')[4]), remote: true, class: "customer customer-#{customer.id}" do %>
		<i class='fa fa-user'></i>
		<span><%= customer.name %></span>
	<% end %>
<% end %>