<div class="sexy-divider"></div>

<!-- search customers by name -->

<%= form_tag event_path(@event), class: 'search-customers-form', method: :get, remote: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search by customer name", id: "customer-search-field", class: 'default-input', autofocus: true %>
<% end %>

<div id='customer-list'>
	<%= render @customers %>

	<%= will_paginate @customers %>
</div>

<div class='modal-overlay' id='customer-overlay'>
	<%= simple_form_for Customer.new, remote: true do |f| %>
		<i class='fa fa-times exit-customer-form'></i>

		<h1>Create New Customer</h1>

		<div class="sexy-divider"></div>

		<%= hidden_field_tag :event_id, @event.id %>
		<%= f.input :name, placeholder: 'Customer Name', label: false, input_html: {class: 'default-input'} %>
		<%= f.input :email, placeholder: 'Customer Email', label: false, input_html: {class: 'default-input'}, required: false %>

		<%= f.submit "Create Customer", class: 'blue-button' %>
	<% end %>
</div>