<div class='modal-overlay' id='edit-customer-overlay'>
	<%= simple_form_for @customer, remote: true do |f| %>
		<i class='fa fa-times exit-form'></i>

		<h1>Update Customer</h1>

		<div class="sexy-divider"></div>

		<%= f.input :name, placeholder: 'Customer Name', label: false, input_html: {class: 'default-input'} %>
		<%= f.input :email, placeholder: 'Customer Email', label: false, input_html: {class: 'default-input'} %>

		<%= f.submit "Update Customer", class: 'blue-button' %>
	<% end %>

	<div class="modal-overlay-footer">
		<%= link_to 'delete customer', @customer, remote: true, method: :delete, data: {confirm: "Sure you want to delete #{@customer.name}?"}, class: 'delete-customer-link' %>
	</div>
</div>