<div class="place-order place-order-<%= @customer.id %>">
	<div class='sexy-divider'></div>

	<div class="order-vendor-list">
		<% @event.vendors.alphabetical.each_slice(4) do |slice| %>
			<div class='sexy-divider'></div>

			<div class="vendor-slice">
				<% slice.each do |vendor| %>
					<%= simple_form_for OrderItem.new, remote: true do |f| %>
						<%= f.hidden_field :vendor_id, value: vendor.id %>
						<%= f.hidden_field :customer_id, value: @customer.id %>

						<%= button_tag(type: 'submit', class: 'order-vendor') do %>
							<%= vendor.name %>
						<% end %>
					<% end %>
				<% end %>
				
				<div style="clear:both;"></div>
			</div>
		<% end %>

		<div style='clear:both;'></div>

		<div class='sexy-divider'></div>
	</div>

	<div class='order-item-list'>
		<div class="checkout-total">
			<%= number_to_currency(@customer.calculate_total, precision: (@customer.calculate_total.round == @customer.calculate_total) ? 0 : 2) %>
		</div>

		<%= simple_form_for Order.new, remote: true do |f| %>
			<%= f.hidden_field :event_id, value: @event.id %>
			<%= f.hidden_field :customer_id, value: @customer.id %>
			
			<%= button_tag(type: 'submit', class: 'blue-button checkout-button') do %>
				Checkout
			<% end %>
		<% end %>

		<%= render @order_items.orderless %>
	</div>

	<div style='clear:both;'></div>
</div>