<% if @saved %>
	//add new customer
	$("#customer-overlay").hide();
	$("#new_customer")[0].reset();
	$("#customer-list").prepend("<%= j render @customer %>");
	$(".customer-<%= @customer.id %>").after("<%= j render 'customers/place_order' %>");
	$('.customer-<%= @customer.id %>').addClass('selected');
<% end %>