<% if @destroyed %>
	//remove modal and customer
	$("#edit-customer-overlay").remove();
	$(".sexy-divider-<%= @customer.id %>").remove();
	$(".customer-<%= @customer.id %>").remove();

	if($(".place-order-<%= @customer.id %>")[0]){
		$(".place-order-<%= @customer.id %>").remove();
	}
<% end %>