<% content_for :dashboard_content do %>
<div id="customer-container">
	<!-- search customers by first name, last name, email, or phone -->

	<%= form_tag customers_path, method: :get do %>
	  <%= text_field_tag :query, params[:query], placeholder: "Search by name", id: "search-field" %>
	<% end %>

	<%= link_to "+ Customer", "#", remote: true, id: "create-customer-btn" %>

	<%= simple_form_for Customer.new, remote: true, html: {id: "customer-form"} do |f| %>
		<%= f.input :name, label: false, input_html: {placeholder: "Name", id: "name-field"} %>
		<%= f.input :email, label: false, input_html: {placeholder: "Email", id: "email-field"} %>
		<%= f.submit "submit", style: "visibility: hidden;" %>
	<% end %>

	<div style="clear:both;"></div>

	<div id="new-customer-list">
	</div>

	<div id="customer-list">
		<%= render @customers %>
	</div>

	<%= will_paginate @orders %>
</div>

<script>
$(document).ready(function(){
	$("#create-customer-btn").click(function(){
		$("#search-field").hide();
		$("#customer-form").show();
		$("#name-field").focus();
	});

	$(".customer-name, .customer-email").click(function(){
		$(this).children(".best_in_place").click();
	});

	$("#search-field").focus();
});
</script>
<% end %>