if($('.place-order-<%= @customer.id %>')[0]){
	//return to normal state
	$(".place-order").remove();
	$("#customer-list .selected").removeClass('selected');
} else{
	//show form to place order
	if($(".place-order")[0]){
		$(".place-order").remove();
	}

	if($("#customer-list .selected")[0]){
		$("#customer-list .selected").removeClass('selected');
	}

	$(".customer-<%= @customer.id %>").after("<%= j render 'customers/place_order' %>");
	$(".customer-<%= @customer.id %>").addClass("selected");
}