<div class='modal-overlay' id="payment-type-modal">
	<%= simple_form_for @order, remote: true do |f| %>
		<i class='fa fa-times exit-form'></i>

		<h1>How did the customer pay?</h1>

		<div class="sexy-divider"></div>

		<%= f.input :payment_type, as: :select, collection: ["cash", "check", "card"], label: false, input_html: {class: 'hide'} %>

		<div class="select-cash <%= cash_selected(@order) %>">Cash</div>

		<div class="select-check <%= check_selected(@order) %>">Check</div>

		<div class="select-card <%= card_selected(@order) %>">Card</div>

		<div style="clear:both;"></div>

		<%= f.submit nil, class: 'hide' %>
	<% end %>

	<div class="modal-overlay-footer">
		<%= link_to 'delete order', @order, remote: true, method: :delete, data: {confirm: "Sure you want to delete #{@order.customer.name}'s order?"}, class: 'delete-customer-link' %>
	</div>
</div>