<div class='sexy-divider sexy-divider-<%= order.id %>'>
	<%= link_to raw("<i class='fa fa-cog'></i>"), edit_order_path(order), remote: true, class: 'edit-order-link' %> 
</div>

<%= link_to open_order_path(order), remote: true, class: "order order-#{order.id}" do %>
	<i class='fa fa-credit-card'></i>
	<span><%= order.customer.name %></span>
	
	<div style='clear:both;'></div>
<% end %>