<div class='modal-overlay' id="payment-type-modal">
	<%= simple_form_for @order, remote: true do |f| %>
		<%= link_to backtrack_order_path(@order), remote: true do %>
			<i class='fa fa-times exit-form'></i>
		<% end %>

		<h1>How did the customer pay?</h1>

		<div class="sexy-divider"></div>

		<%= f.input :payment_type, as: :select, collection: ["cash", "check", "card"], label: false, input_html: {class: 'hide'} %>

		<div class="select-cash">Cash</div>

		<div class="select-check">Check</div>

		<div class="select-card">Card</div>

		<div style="clear:both;"></div>

		<%= f.submit nil, class: 'hide' %>
	<% end %>
</div>