<% if @destroyed %>
	//remove modal and everything related to deleted order
	$("#payment-type-modal").remove();
	$('.sexy-divider-<%= @order.id %>').remove();
	$(".order-<%= @order.id %>").remove();
	if($('.place-order-<%= @order.id %>')[0]){
		$(".place-order-<%= @order.id %>").remove();
	}
<% end %>