<% content_for :dashboard_content do %>
	<div data-toggle="modal" data-target="#changeModal" id="change-button">
		Calculate Change
	</div>
	<% if @orders.any? %>
		<table id="order-list">
			<tr>
				<th>Customer</th>
				<th>Total</th>
				<th>Donated</th>
				<th>Paid With</th>
				<th>Items</th>
				<th>Time</th>
				<th>Delete</th>
			</tr>
			<%= render @orders %>
		</table>

		<%= will_paginate @orders %>

		<div class="modal fade" id="changeModal">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <form>
					  <input type="text" ng-model="change.amount" placeholder="Input Cash Amount" id="payment-field">
					</form> 

					<span id="change-title">
						Change ($)
					</span>
					<div id="change-returned">
						{{change.amount- <%= @orders.recent_ones_first.first.total %> | number : 2 }}
					</div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	<% else %>
		<div id="no-data">
			You don't have any orders yet!
		</div>
	<% end %>

	<script>
	$(document).ready(function(){
		$('#changeModal').on('shown.bs.modal', function(){
		  $('#payment-field').focus();
		});

		$(".select-payment-type").click(function(){
			$(this).children(".best_in_place").click();
		});
	});
	</script>
<% end %>