if($('.place-order-<%= @order.id %>')[0]){
	//return to normal state
	$(".place-order").remove();
	$("#order-list .selected").removeClass('selected');
} else{
	//show form to place order
	if($(".place-order")[0]){
		$(".place-order").remove();
	}

	if($("#order-list .selected")[0]){
		$("#order-list .selected").removeClass('selected');
	}

	$(".order-<%= @order.id %>").after("<%= j render 'orders/open' %>");
	$(".order-<%= @order.id %>").addClass("selected");
}