<% content_for :dashboard_content do %>
	<div id="place-order-wrap">
		<% Vendor.alphabetical.where(participating: true).each do |vendor| %>
			<%= simple_form_for OrderItem.new, remote: true, html: {id: "order-item-form"} do |f| %>
				<%= f.input :vendor_id, input_html: {value: vendor.id, style: "visibility: hidden;"}, label: false %>
				<%= f.input :order_id, input_html: {value: @order.id, style: "visibility: hidden;"}, label: false %>
				<div id="place-order-item">
					<div id="order-item-vendor-<%= vendor.id %>">
						<%= f.submit "#{vendor.name}" %>
					</div>
				</div>
			<% end %>
		<% end %>
		<div style="clear:both;"></div>
	</div>

	<div id="place-order-wrap-two">
		<span id="name">
			<%= @order.customer.name %>
		</span>
		<br><br>
		<% if @order_items %>
			<% @order_items.each do |order_item| %>
				<div id="order-item-<%= order_item.id %>" class="input-order-item">
					<div class='order-item-vendor vendor-blue'>
						<%= order_item.vendor.name %>  <%= link_to "x", order_item, method: :delete, remote: true, id: "delete-order-item" %>
					</div>
					<div class="edit-order-item">
						<div id="quantity-field">
							<%= best_in_place order_item, :quantity %>
						</div>
						<div id="price-field">
							<span style="font-size:20px;">$</span><%= best_in_place order_item, :price %>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			<% end %>
		<% end %>
		<ul id="order-item-list">
		</ul>
	</div>
	<div id="checkout-btn-wrap">
		<%= link_to orders_path do %>
		<div id="checkout-btn" class="deactivated-button">
			Checkout
		</div>
		<% end %>
	</div>

	<% if @order_items.any? %>
		<script>
		$(document).ready(function(){
			$("#checkout-btn").removeClass("deactivated-button");
		});
		</script>
	<% end %>

	<script>
	$(document).ready(function(){
		$("#order-item-list").on("click", "#quantity-field", function(){
			$(this()
		});
	});
	</script>
<% end %>