<% if @updated %>
	$("#payment-type-modal").remove();

	if($('.place-order')[0]){
		$('.place-order').remove();
		if($('#customer-list .selected')[0]){
			$("#customer-list .selected").removeClass('selected');
		}

		if($('#order-list .selected')[0]){
			$("#order-list .selected").removeClass('selected');
		}
	}

	if($("#customer-search-field")[0]){
		$("#customer-search-field").val("").focus();
	}
<% end %>