<div class="input-order-item">
	<div class='order-item-vendor vendor-blue'>
		<%= @order_item.vendor.name %>  <%= link_to "x", @order_item, method: :delete, remote: true, id: "delete-order-item" %>
	</div>
	<div class="edit-order-item">
		<div id="quantity-field">
			<%= best_in_place @order_item, :quantity %>
		</div>
		<div id="price-field">
			<span style="font-size:20px;">$</span><%= best_in_place @order_item, :price %>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>