<%= simple_form_for order_item, html: {class: "order-item order-item-#{order_item.id}"}, remote: true do |f| %>
	<%= link_to raw("<i class='fa fa-times'></i>"), order_item, method: :delete, remote: true, class: 'delete-order-item' %>

	<h1><%= Vendor.find_by_id(order_item.vendor_id).name %></h1>

	<%= f.input :price, label: false, placeholder: 'Price', input_html: {class: 'default-input'} %>
	<%= f.input :quantity, label: false, placeholder: 'Quantity', input_html: {class: 'default-input'} %>

	<div style='clear:both;'></div>

	<%= f.submit nil, class: 'hide' %>
<% end %>