<% if @saved %>
	if($('#order-list')[0]){
		//add order item and focus on price field
		$(".checkout-total").after("<%= j render @order_item %>");
	}else{
		//add order item and focus on price field
		$(".checkout-button").after("<%= j render @order_item %>");
	}

	$(".order-item-<%= @order_item.id %> #order_item_price").focus();
<% end %>