<% if @updated %>
	<% if @order %>
		//reload checkout total on event_orders
		$(".checkout-total").html("<%= number_to_currency(@order.total, precision: (@order.total.round == @order.total) ? 0 : 2) %>");	
	<% else %>
		//reload checkout total on event show
		$(".checkout-total").html("<%= number_to_currency(@customer.calculate_total, precision: (@customer.calculate_total.round == @customer.calculate_total) ? 0 : 2) %>");	
	<% end %>
<% end %>