#no-data{
	font-size: 20px;
	font-weight: 100;
}

.analytics-table{
	width: 100%;
	text-align: center;

	td{
		border: 1px solid #ccc;
		padding-top: 76px;
		padding-bottom: 76px;
		width: 50%;
		background: rgba(255,255,255,0.8);
	}

	.title{
		padding-bottom: 7px;
		border-bottom: 3px solid #ccc;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.05em;
	}

	.metric{
		margin-top: 10px;
		font-size: 30px;
		font-weight: bold;
	}
}