/* _place_order */

.order-vendor-list{
	width: 70%;
	float: left;

	.order-vendor{
		width                  : 25%;
		float                  : left;
		padding                : 20px 0;
		text-align             : center;
		background             : white;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		border-right           : 1px solid rgb(230,230,230);
		border-top             : 0;
		border-bottom          : 0;
		border-left            : 0;
		font-size              : 13.5px;

		&:hover{
			color     : rgb(41, 150, 204);
			background: rgb(253, 254, 254);
			box-shadow: 0 1px 3px #ddd inset;
		}

		&:focus{
			outline-width: 0;
		}
	}
}

.order-item-list{
	width  : 30%;
	float  : right;
	padding: 20px 25px 20px 20px;

	.checkout-total{
		text-align           : center;
		font-size            : 30px;
		border               : 1px solid rgb(230,230,230);
		margin-bottom        : 20px;
		padding              : 15px 0;
		-webkit-border-radius: 3px;
		-moz-border-radius   : 3px;
		border-radius        : 3px;
		color                : rgb(41, 150, 204);
		background           : rgb(253, 254, 254);
	}

	.checkout-button{
		margin-bottom: 20px;
		width        : 100%;
	}
}

/* _customer */

.customer{
	display                : block;
	color                  : rgb(110,110,110) !important;
	padding                : 20px;
	text-decoration        : none !important;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;

	i{
		margin-right: 7px;
		color       : #ccc;
		transform   : scale(1.2, 1.2);
	}

	&:hover{
		background     : #f8f8f8;
		color          : rgb(110,110,110);
		text-decoration: none;
	}
}

.sexy-divider{
	position: relative;

	.edit-customer-link{
		position : absolute;
		right    : 20px;
		bottom   : -45px;
		font-size: 20px;
		color    : #ebebeb;

		&:hover{
			color: #ccc;
		}
	}
}

/* _customer_list */

#customer-list{
	.selected{
		color     : rgb(41, 150, 204) !important;
		background: rgb(253, 254, 254);

		i{
			color: rgb(41, 150, 204) !important;
		}
	}
}

#customer-search-field{
	width                : 100%;
	border               : 0;
	padding              : 18px !important;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
}

.pagination{
	margin: 10px 10px 7px 10px;
}

/* _edit */

#edit-customer-overlay{
	display: block !important;
}

.delete-customer-link{
	
}