/* _event_analytics */

.analytics-wrap{
	text-align: center;
}

.analytics-statements{
	background           : rgb(253, 254, 254);
	display              : inline-block;
	padding              : 40px;
	border               : 1px solid rgb(230,230,230);
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	margin               : 30px auto;
	min-width            : 500px;
}

.revenue-statement, .payment-type-statement{
	font-size   : 20px;
	padding-left: 20px;
	text-align  : center;

	u{
		font-weight: bold;
		color      : rgb(41, 150, 204);
		background : rgb(253, 254, 254);
	}
}

.revenue-statement{
	padding-bottom: 30px;
}

.vendor-revenue-table{
	border       : 1px solid #ebebeb;
	min-width    : 500px;
	margin-left  : auto;
	margin-right : auto;
	margin-bottom: 20px;

	tr{
		border-bottom: 1px solid #ebebeb;

		td:first-child{
			font-weight: bold;
			text-align : left;
		}

		td:last-child{
			text-align: right;
		}
	}

	.selected-row{
		color      : rgb(41, 150, 204);
		background : rgb(253, 254, 254);
	}

	td{
		padding: 15px;
	}
}


/* _event_vendors */

#vendor-search-field{
	width                : 100%;
	border               : 0;
	padding              : 18px !important;
	-webkit-border-radius: 0;
	-moz-border-radius   : 0;
	border-radius        : 0;
}

#vendor-overlay{
	
	.vendor_tax{
		margin-top: -20px;
	}

	label{
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		border-bottom-color    : rgb(95, 106, 125);
		border-bottom-style    : none;
		border-bottom-width    : 0px;
		border-image-outset    : 0px;
		border-image-repeat    : stretch;
		border-image-slice     : 100%;
		border-image-source    : none;
		border-image-width     : 1;
		border-left-color      : rgb(95, 106, 125);
		border-left-style      : none;
		border-left-width      : 0px;
		border-right-color     : rgb(95, 106, 125);
		border-right-style     : none;
		border-right-width     : 0px;
		border-top-color       : rgb(95, 106, 125);
		border-top-style       : none;
		border-top-width       : 0px;
		box-sizing             : border-box;
		color                  : rgb(95, 106, 125);
		cursor                 : default;
		font-size              : 12px;
		font-stretch           : normal;
		font-style             : normal;
		font-variant           : normal;
		font-weight            : bold;
		vertical-align         : baseline;
		visibility             : visible;
		float                  : left;
		margin-top             : 3px;
	}

	input[type='checkbox']{
		display      : inline-block;
		width        : 18px;
		margin-right : -2px;
		float        : right;
		margin-bottom: 25px;
	}
}


/* _show */

.show-event-dash{
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;

	.selected{
		color     : rgb(41, 150, 204);
		background: rgb(253, 254, 254);
	}

	a{
		width          : 25%;
		display        : block;
		float          : left;
		text-align     : center;
		padding        : 25px 0;
		border-right   : 1px solid rgb(224, 226, 227);
		border-bottom  : 1px solid rgb(224, 226, 227);
		color          : rgb(133, 137, 140);
		text-decoration: none !important;

		i{
			font-size: 30px;
		}

		span{
			display                : block;
			margin-top             : 10px;
			-webkit-font-smoothing : antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-transform         : uppercase;
			letter-spacing         : 1px;
			font-weight            : bold;
		}

		&:last-child{
			border-right: 0px;
		}

		&:hover{
			text-decoration: none;
			color          : rgb(41, 150, 204);
			background     : rgb(253, 254, 254);
		}
	}
}

/* _event */

.event{
	display                : block;
	padding                : 15px;
	color                  : rgb(133, 137, 140);
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size              : 14px;
	text-decoration        : none !important;
	margin-right: -1px;

	i{
		margin-right: 5px;
	}

	&:hover{
		color: rgb(103, 107, 110);
	}
}

#side-navbar{
	.selected{
		background: rgb(41, 150, 204);
		color: white !important;
	}
}

/* new */

#event-overlay{

}