/* application */

body{
	margin: 0 auto;
	height: 100%;
	width : 100%;
}


/* dashboard once user signs in */

#dashboard-container{
	width       : 100%;
	margin-left : 0%;
	margin-right: 0%;
	height      : 100%;
	top         : 0%;
	position    : fixed;
	background  : white;
}

#side-navbar{
	height      : 100%;
	border-right: 1px solid rgb(224, 226, 227);
	color       : #6e6e6e;
	width       : 240px;
	float       : left;
	position    : relative;

	.user-header{
		padding: 10px;
		
		.user-email{
			color: #aaa;
		}

		a{
			float: right;
			color: #ccc;
			-webkit-font-smoothing : antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:hover{
				color: #aaa;
			}
		}
	}

	.add-event-button{
		position  : absolute;
		bottom    : 0;
		left      : 0;
		width     : 100%;
		text-align: center;
		font-size : 30px;
		padding   : 2px 0 5px 0;
		border-top: 1px solid rgb(224, 226, 227);
		cursor    : pointer;
		color     : rgb(133, 137, 140);

		&:hover{
			color     : rgb(41, 150, 204);
			background: rgb(253, 254, 254);
		}
	}
}

#main-container{
	float     : right;
	height    : 100%;
	color     : #6e6e6e;
	overflow-y: scroll;
	width     : calc(100% - 240px);
	width     : -webkit-calc(100% - 240px);
	width     : -moz-calc(100% - 240px);
	padding: 0;
	margin: 0;
}