/* _open */

#order-list{
	.selected{
		color     : rgb(41, 150, 204) !important;
		background: rgb(253, 254, 254);

		i{
			color: rgb(41, 150, 204) !important;
		}
	}
}

/* _payment_type */

#payment-type-modal{
	display: block !important;

	.selected{
		color     : rgb(41, 150, 204);
		background: rgb(253, 254, 254);
		border: 4px solid rgb(41, 150, 204);
	}
}

.select-cash, .select-check{
	color: rgb(110,110,110);
	margin-top           : -15px;
	width                : 49%;
	float                : left;
	padding              : 20px;
	text-align           : center;
	border               : 4px solid rgb(110,110,110);
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	text-transform       : uppercase;
	letter-spacing       : 1.5px;
	font-weight          : bold;
	cursor               : pointer;

	&:hover{
		color     : rgb(41, 150, 204);
		background: rgb(253, 254, 254);
		border    : 4px solid rgb(41, 150, 204);
	}
}

.select-cash{
	margin-right: 2%;
}

.select-card{
	color: rgb(110,110,110);
	width                : 100%;
	padding              : 20px;
	text-align           : center;
	border               : 4px solid rgb(110,110,110);
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	text-transform       : uppercase;
	letter-spacing       : 1.5px;
	font-weight          : bold;
	cursor               : pointer;
	float: left;
	margin-top: 10px;

	&:hover{
		color     : rgb(41, 150, 204);
		background: rgb(253, 254, 254);
		border    : 4px solid rgb(41, 150, 204);
	}
}


/* _order */

.order{
	display                : block;
	color                  : rgb(110,110,110) !important;
	padding                : 20px;
	text-decoration        : none !important;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;

	i{
		margin-right: 7px;
		color       : #ccc;
		transform   : scale(1.2, 1.2);
	}

	&:hover{
		background     : #f8f8f8;
		color          : rgb(110,110,110);
		text-decoration: none;
	}
}

.sexy-divider{
	position: relative;

	.edit-order-link{
		position : absolute;
		right    : 20px;
		bottom   : -45px;
		font-size: 20px;
		color    : #ebebeb;

		&:hover{
			color: #ccc;
		}
	}
}