/* _order_item */

.order-item{
	margin-bottom: 20px;
	position     : relative;

	.delete-order-item{
		position: absolute;
		top: -5px;
		right: 0;
		color   : rgb(193, 197, 200);
		font-size: 16px;

		&:hover{
			color: rgb(133, 137, 140);
		}
	}

	h1{
		text-transform         : uppercase;
		font-size              : 13px;
		font-weight            : bold;
		letter-spacing         : 1px;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		color                  : rgb(95, 106, 125);
		margin-top             : 0;
		margin-bottom          : 5px;
	}

	.default-input{
		width    : 50%;
		float    : left;
		font-size: 13px !important;
	}

	#order_item_price{
		-webkit-border-radius: 4px 0 0 4px;
		-moz-border-radius   : 4px 0 0 4px;
		border-radius        : 4px 0 0 4px;
	}

	#order_item_quantity{
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius   : 0 4px 4px 0;
		border-radius        : 0 4px 4px 0;
		margin-left          : -1px;
	}
}