/* new */

.signin-page{
	.session{
		max-width              : 400px;
		margin                 : 50px auto;
		background             : rgb(253, 254, 254);
		padding                : 25px;
		border                 : 1px solid rgb(224, 226, 227);
		-webkit-border-radius  : 3px;
		-moz-border-radius     : 3px;
		border-radius          : 3px;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h1{
		text-transform: uppercase;
		text-align    : center;
		font-weight   : bold;
		letter-spacing: 1.5px;
		font-size     : 14px;
		padding-top   : 0;
		margin-top    : 10px;
		color         : rgb(133, 137, 140);
	}

	.sexy-divider{
		margin-bottom: 40px;
		margin-top   : 35px;
	}

	#session_email{
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius   : 4px 4px 0 0;
		border-radius        : 4px 4px 0 0;
	}

	#session_password{
		margin-top           : -1px;
		margin-bottom        : 20px;
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius   : 0 0 4px 4px;
		border-radius        : 0 0 4px 4px;
	}

	input{
		width: 100%;
	}
}