/* modal */

.modal-overlay{
	position  : fixed;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	background: rgba(0,0,0,0.8);
	display   : none;
	z-index   : 5000;

	#new_event, #new_customer, .edit_order, .edit_customer, .edit_vendor, #new_vendor{
		max-width              : 400px;
		margin                 : 50px auto 0 auto;
		background             : rgb(253, 254, 254);
		padding                : 25px;
		border                 : 1px solid rgb(224, 226, 227);
		-webkit-border-radius  : 3px;
		-moz-border-radius     : 3px;
		border-radius          : 3px;
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		position               : relative;
	}

	.modal-overlay-footer{
		max-width      : 400px;
		margin         : 20px auto;
		text-align     : right;
		text-decoration: underline;

		a{
			color                  : rgba(255,255,255,0.8);
			-webkit-font-smoothing : antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:hover{
				color: white;	
			}
		}
	}

	.exit-form, .exit-customer-form, .exit-vendor-form, .exit-event-form{
		position: absolute;
		top     : 10px;
		right   : 10px;
		color   : rgb(193, 197, 200);
		cursor  : pointer;

		&:hover{
			color: rgb(133, 137, 140);
		}
	}

	h1{
		text-transform: uppercase;
		text-align    : center;
		font-weight   : bold;
		letter-spacing: 1.5px;
		font-size     : 14px;
		padding-top   : 0;
		margin-top    : 10px;
		color         : rgb(133, 137, 140);
	}

	.sexy-divider{
		margin-bottom: 40px;
		margin-top   : 35px;
	}

	#event_name, #customer_name, #customer_email, #vendor_name, #vendor_email{
		margin-bottom: 10px;
	}

	input{
		width: 100%;
	}
}

/* fonts */

*{
	font-family       : Helvetica, sans-serif;
	-moz-box-sizing   : border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing        : border-box;
}

.bold{
	font-weight: bold;
}

/* alerts */

.alert{
	background   : rgb(85,151,183) !important;
	color        : white !important;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	position     : absolute;
	top          : 0;
	width        : 100%;
	z-index      : 5;
}

/* input fields */

::-webkit-input-placeholder {
  color: rgb(196, 196, 196);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(196, 196, 196);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(196, 196, 196);  
}

:-ms-input-placeholder {  
  color: rgb(196, 196, 196);  
}

.default-input{
	-webkit-appearance       : none;
	-webkit-background-clip  : border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size  : auto;
	-webkit-box-shadow       : none;
	-webkit-font-smoothing   : auto;
	-webkit-rtl-ordering     : logical;
	-webkit-user-select      : text;
	-webkit-writing-mode     : horizontal-tb;
	background-attachment    : scroll;
	background-clip          : border-box;
	background-color         : rgb(255, 255, 255);
	background-image         : none;
	background-origin        : padding-box;
	background-size          : auto;
	border-image-outset      : 0px;
	border-image-repeat      : stretch;
	-webkit-border-radius    : 4px;
	-moz-border-radius       : 4px;
	border-radius            : 4px;
	border                   : 1px solid rgb(196, 196, 196);
	box-shadow               : none;
	box-sizing               : border-box;
	color                    : rgb(95, 106, 125);
	cursor                   : auto;
	display                  : block;
	font-family              : Helvetica, sans-serif;
	font-size                : 14px;
	font-style               : normal;
	font-variant             : normal;
	font-weight              : 300;
	letter-spacing           : normal;
	line-height              : 20px;
	outline-color            : rgb(95, 106, 125);
	outline-style            : none;
	outline-width            : 0px;
	padding-bottom           : 9px;
	padding-left             : 9px;
	padding-right            : 9px;
	padding-top              : 9px;
	position                 : relative;
	text-align               : start;
	text-indent              : 0px;
	text-shadow              : none;
	text-transform           : none;
	visibility               : visible;
	width                    : 330px;
	word-spacing             : 0px;
	writing-mode             : lr-tb;
	z-index                  : 0;

	&:focus{
		-webkit-appearance        : none;
		-webkit-background-clip   : border-box;
		-webkit-background-origin : padding-box;
		-webkit-background-size   : auto;
		-webkit-box-shadow        : none;
		-webkit-font-smoothing    : auto;
		-webkit-rtl-ordering      : logical;
		-webkit-user-select       : text;
		-webkit-writing-mode      : horizontal-tb;
		background-attachment     : scroll;
		background-clip           : border-box;
		background-color          : rgb(255, 255, 255);
		background-image          : none;
		background-origin         : padding-box;
		background-size           : auto;
		border-bottom-color       : rgb(41, 150, 204);
		border-bottom-left-radius : 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style       : solid;
		border-bottom-width       : 1px;
		border-image-outset       : 0px;
		border-image-repeat       : stretch;
		border-image-slice        : 100%;
		border-image-source       : none;
		border-image-width        : 1;
		border-left-color         : rgb(41, 150, 204);
		border-left-style         : solid;
		border-left-width         : 1px;
		border-right-color        : rgb(41, 150, 204);
		border-right-style        : solid;
		border-right-width        : 1px;
		border-top-color          : rgb(41, 150, 204);
		border-top-left-radius    : 3px;
		border-top-right-radius   : 3px;
		border-top-style          : solid;
		border-top-width          : 1px;
		box-shadow                : none;
		box-sizing                : border-box;
		color                     : rgb(95, 106, 125);
		cursor                    : auto;
		display                   : block;
		font-size                 : 14px;
		font-style                : normal;
		font-variant              : normal;
		font-weight               : 300;
		letter-spacing            : normal;
		line-height               : 20px;
		outline-color             : rgb(95, 106, 125);
		outline-offset            : 0px;
		outline-style             : none;
		outline-width             : 0px;
		padding-bottom            : 9px;
		padding-left              : 9px;
		padding-right             : 9px;
		padding-top               : 9px;
		position                  : relative;
		text-align                : start;
		text-indent               : 0px;
		text-shadow               : none;
		text-transform            : none;
		visibility                : visible;
		word-spacing              : 0px;
		writing-mode              : lr-tb;
		z-index                   : 1;
	}
}

/* divider */

.sexy-divider{
	display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#ddd), to(#f8f8f8));
}


/* buttons */

.blue-button{
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-property: background-color;
	-webkit-transition-timing-function: ease;
	-webkit-writing-mode: horizontal-tb;
	align-items: flex-start;
	background-color: rgb(41, 150, 204);
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(255, 255, 255);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(255, 255, 255);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(255, 255, 255);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: 40px;
	letter-spacing: 1px;
	line-height: 22px;
	max-width: 100%;
	min-width: 200px;
	padding: 10px 40px 9px 40px;
	text-align: center;
	text-decoration: none;
	text-indent: 0px;
	text-rendering: optimizelegibility;
	text-shadow: none;
	text-transform: uppercase;
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: background-color;
	transition-timing-function: ease;
	visibility: visible;
	word-spacing: 0px;
	writing-mode: lr-tb;

	&:hover{
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.15s;
		-webkit-transition-property: background-color;
		-webkit-transition-timing-function: ease;
		-webkit-writing-mode: horizontal-tb;
		align-items: flex-start;
		background-color: rgb(37, 134, 183);
		border-bottom-color: rgb(255, 255, 255);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-image-outset: 0px;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgb(255, 255, 255);
		border-left-style: none;
		border-left-width: 0px;
		border-right-color: rgb(255, 255, 255);
		border-right-style: none;
		border-right-width: 0px;
		border-top-color: rgb(255, 255, 255);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-top-style: none;
		border-top-width: 0px;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 11px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		height: 40px;
		letter-spacing: 1px;
		line-height: 22px;
		max-width: 100%;
		min-height: 40px;
		min-width: 200px;
		text-align: center;
		text-decoration: none;
		text-indent: 0px;
		text-rendering: optimizelegibility;
		text-shadow: none;
		text-transform: uppercase;
		transition-delay: 0s;
		transition-duration: 0.15s;
		transition-property: background-color;
		transition-timing-function: ease;
		visibility: visible;
		word-spacing: 0px;
		writing-mode: lr-tb;
	}

	&:active{
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.15s;
		-webkit-transition-property: background-color;
		-webkit-transition-timing-function: ease;
		-webkit-writing-mode: horizontal-tb;
		align-items: flex-start;
		background-color: rgb(32, 119, 162);
		border-bottom-color: rgb(255, 255, 255);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-style: none;
		border-bottom-width: 0px;
		border-image-outset: 0px;
		border-image-repeat: stretch;
		border-image-slice: 100%;
		border-image-source: none;
		border-image-width: 1;
		border-left-color: rgb(255, 255, 255);
		border-left-style: none;
		border-left-width: 0px;
		border-right-color: rgb(255, 255, 255);
		border-right-style: none;
		border-right-width: 0px;
		border-top-color: rgb(255, 255, 255);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-top-style: none;
		border-top-width: 0px;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		cursor: pointer;
		display: block;
		font-size: 11px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		height: 40px;
		letter-spacing: 1px;
		line-height: 22px;
		max-width: 100%;
		min-height: 40px;
		min-width: 200px;
		text-align: center;
		text-decoration: none;
		text-indent: 0px;
		text-rendering: optimizelegibility;
		text-shadow: none;
		text-transform: uppercase;
		transition-delay: 0s;
		transition-duration: 0.15s;
		transition-property: background-color;
		transition-timing-function: ease;
		visibility: visible;
		word-spacing: 0px;
		writing-mode: lr-tb;
	}

	&:focus{
		outline-width: 0;
	}
}

/* pagination */

.pagination{
	margin: 10px 10px 6px 10px !important;

	a{
		color: rgb(133, 137, 140) !important;

		&:hover{
			color     : rgb(41, 150, 204) !important;
			background: rgb(253, 254, 254) !important;
		}
	}

	.active a{
		color: white !important;
		background: rgb(41, 150, 204) !important;
	}
}