/* _vendor */

.vendor{
	padding                : 20px;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;

	i{
		margin-right: 7px;
		color       : #ccc;
		transform   : scale(1.2, 1.2);
	}
}

.sexy-divider{
	position: relative;

	.edit-vendor-link{
		position: absolute;
		right: 20px;
		bottom: -45px;
		font-size   : 20px;
		color       : #ebebeb;

		&:hover{
			color: #ccc;
		}
	}
}


/* _edit */

#edit-vendor-overlay{
	display: block !important;
	
	.vendor_tax{
		margin-top: -20px;
	}

	label{
		-webkit-font-smoothing : antialiased;
		-moz-osx-font-smoothing: grayscale;
		border-bottom-color    : rgb(95, 106, 125);
		border-bottom-style    : none;
		border-bottom-width    : 0px;
		border-image-outset    : 0px;
		border-image-repeat    : stretch;
		border-image-slice     : 100%;
		border-image-source    : none;
		border-image-width     : 1;
		border-left-color      : rgb(95, 106, 125);
		border-left-style      : none;
		border-left-width      : 0px;
		border-right-color     : rgb(95, 106, 125);
		border-right-style     : none;
		border-right-width     : 0px;
		border-top-color       : rgb(95, 106, 125);
		border-top-style       : none;
		border-top-width       : 0px;
		box-sizing             : border-box;
		color                  : rgb(95, 106, 125);
		cursor                 : default;
		font-size              : 12px;
		font-stretch           : normal;
		font-style             : normal;
		font-variant           : normal;
		font-weight            : bold;
		vertical-align         : baseline;
		visibility             : visible;
		float                  : left;
		margin-top             : 3px;
	}

	input[type='checkbox']{
		display      : inline-block;
		width        : 18px;
		margin-right : -2px;
		float        : right;
		margin-bottom: 25px;
	}
}