<div id="dashboard-container">

	<div id="side-navbar">
		<div class="user-header">
			<span class='user-email'><%= truncate(current_user.email, length: 20) %></span>

			<%= link_to  signout_path, method: "delete" do %>
				<i class='fa fa-sign-out'></i>
			<% end %>
		</div>

		<div class="sexy-divider"></div>

		<%= render Event.recently %>

		<!-- button to load new event form -->
		<div class="add-event-button">
			+
		</div>
	</div>

	<!-- where the action happens -->

	<div id="main-container">
		<%= yield :dashboard_content %>
	</div>


	<!-- form to create new event -->
	<%= render 'events/new' %>
</div>