<!DOCTYPE html>
<html ng-app>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ie_html5_shim' %>
  <%= render 'layouts/bootstrap' %>
  <%= render 'layouts/fonts' %>
</head>
<body>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<% if signed_in? %>
	<%= render 'layouts/dashboard' %>
<% else %>
	<%= yield %>
<% end %>

</body>
</html>
